.fieldset{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    border: 1px solid white;
    border-radius: 6px;
    .heading{
        font-size: 32px;
        color: white;
        font-weight: bold;
    }
    .desc{
        margin: 5px 10px;
        color: white;
        font-size: 16px;
        font-weight: 200;
    }
    .start-btn{
        margin: 5px 10px;
        position: relative;
        bottom: -5px; 
        padding: 10px 15px;
        background: transparent;
        color: white;
        border-radius: 6px;
        border: 1px solid white;
        cursor: pointer;
        font-size: 16px;
        font-weight: 200;
        // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }
}
