.checkAnswer{
    margin: 10px 10px;
    position: relative;
    padding: 10px 15px;
    background: transparent;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
	// background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

}
.scoreDesc{
    color: white;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.homePage{
    margin: 10px 10px;
    position: relative;
    padding: 10px 15px;
    background: transparent;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
}
